/** element defaults **/
/* table { */
/* 	width: 100%; */
/* 	text-align: left; */
/* } */

/* th, td { */
/* 	padding: 10px 10px; */
/* } */

/* th { */
/* 	color: #fff; */
/* 	font-size: 12px; */
/* 	font-family: Arial, Helvetica, sans-serif; */
/* 	text-decoration: none; */
/* 	text-transform: uppercase; */
/* 	text-shadow:-1px -1px #CE5709; */
/* 	background: #F87B27 url('images/frontpage-link.png') repeat-x scroll top left; */
/* } */

/* td { */
/* 	border-bottom: 1px solid #ccc; */
/* } */

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	C
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 90%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Num"; }
		td:nth-of-type(2):before { content: "subject"; }
		td:nth-of-type(3):before { content: "userid"; }
		td:nth-of-type(4):before { content: "ip"; }
		td:nth-of-type(5):before { content: "count"; }
		td:nth-of-type(6):before { content: ""; }
		td:nth-of-type(7):before { content: ""; }
		td:nth-of-type(8):before { content: ""; }
		td:nth-of-type(9):before { content: ""; }
		td:nth-of-type(10):before { content: ""; }
	}
	

	



code {
	background-color: #222;
	color:#ccc;
	border: none;
}